/Web/ReactJs/react-app/node_modules
/Web/ReactJs/router-app/node_modules
/Web/ReactJs/Vidly-Routing/node_modules
/Web/ReactJs/react-app/.git
/Web/ReactJs/router-app/.git
/Web/ReactJs/Vidly-Routing/.git